In [ ]:
def funcB(L) :
  v = L[0]
  i = 1
  while i < len (L) :
    if v > L[i]:
      v = L[i]
    i += 1
  return v

In [ ]:
def f(x):
  def g(y):
    z = sum(range(x))
    return z + y
  return g
k = f(5)
print(k(2))

12

In [ ]:
def f(L,e,d):
  c = (e +d) // 2
  print(L[c])
  g(L,e,d)

def g(L,e,d):
  c = (e+d) // 2
  for i in range(c, d):
    print(L[i])
def main():
  A= [14,42,35,87,65,23]
  f(A,0,5)
  g(A,1,4)
main()

35
35
87
65
35
87

In [ ]:
import plotly.express as px

In [ ]:
df = px.data.gapminder()

In [ ]:
df.describe()

             year      lifeExp           pop      gdpPercap      iso_num
count  1704.00000  1704.000000  1.704000e+03    1704.000000  1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081   425.880282
std      17.26533    12.917107  1.061579e+08    9857.454543   248.305709
min    1952.00000    23.599000  6.001100e+04     241.165877     4.000000
25%    1965.75000    48.198000  2.793664e+06    1202.060309   208.000000
50%    1979.50000    60.712500  7.023596e+06    3531.846989   410.000000
75%    1993.25000    70.845500  1.958522e+07    9325.462346   638.000000
max    2007.00000    82.603000  1.318683e+09  113523.132900   894.000000

fig = px.r(px.data.gapminder().query("lifeExp == 'gdpPercap'"),
                 x ="gdpPercap",
                 y = 'lifeExp',
                 color ='country')

---


fig.show()

In [ ]:
def func(n, a, b, c):
  if n <= 1:
    if a > c:
      return[a]
    else:
      return []
  else:
    L1 = func(n-1, a, c, b)
    L1.append(a)
    L2 = func(n-1, c, b, a)
    return L1 + L2
def main():
 n = 3
 L = func(n, 1, 2, 2)
 print (L)

In [ ]:
def moda(L):
  freqmax = 0
  imax = 0
  for i in range(len(L)):
    freq = 1
    for j in range(i+1, len(L)):
      if L[j] == L[i]:
        freq += 1
    if freq > freqmax:
      freqmax = freq
      imax = i
    return L[imax]
    print(moda[L])

In [ ]:
def main() :
  L0 = []
  v = 32
  while (v > 0) :
    v = (v // 2) - 2
    L0.append([v, 2*v])
    L1 = L0
    L1[0][1] = (L1[0][0] + L1[len(L1) -1][0]) //2
  print(L0)

main()

[[14, 7], [5, 10], [0, 0]]

In [ ]:
def funC (v, L):
  i = 0
  while i < len(L) and v != L[i]:
   i += 1
  if i < len(L):
    R = i
  else:
    R = -1
  return R